body{
  background-color: tan;
  font-family: sans-serif;
  text-align: center;
}
h1{
  font-size: 25px;
}
  h1,h3{
    color: green;
    font-family: cursive;
  }
  h3{
    color: saddlebrown;
  }
  span{
    color: cyan;
  }
  #special{
    color: brown;
  }
  li{
   margin: 20px 400px;
  }
  a>img{
    width: 100px;
  }
  a>img:hover{
    border: 2px solid lightgreen;
    width: 110px;
  }
  .coffe{
    color: maroon;
  }
  .tea{
    color: green;
  }
